apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-cqeb
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-bundle-tenant/appstudio/dc-metro-map-cqeb@sha256:241d1943d509ffa2e60dd76b43069cb7733b95fec9fb9a33531d62bcc4f18850
        name: my-nodejs
        resources: {}
status: {}
